
	<footer class="container-fluid">
		<div class="row">
			<div class="footer-cont container">
				<div class="row">
					<div class="col-lg-12 foot-social">
						<ul>
							<li><a href=""><img src="../img/icons/google-icon.png" alt=""></a></li>
							<li><a href=""><img src="../img/icons/twitter-icon.png" alt=""></a></li>
							<li><a href=""><img class="fb-ic" src="../img/icons/facebook-icon.png" alt=""></a></li>
							<li><a href=""><img src="../img/icons/wifi-icon.png" alt=""></a></li>
						</ul>
					</div>
					<div class="col-lg-12 foon-nav">
						<ul>
							<li><a href="">ORDER</a></li>
							<li><a href="">PRICE</a></li>
							<li><a href="">SAMPLES</a></li>
							<li><a href="">FAQ</a></li>
						</ul>
					</div>
					<div class="col-lg-12 foot-pay">
						<ul>
							<li><a href=""><img class="img-responsive" src="../img/icons/aplus.png" alt=""></a></li>
							<li><a href=""><img class="img-responsive"   src="../img/icons/norton.png" alt=""></a></li>
							<li><a href=""><img class="img-responsive"  src="../img/icons/paypal.png" alt=""></a></li>
							<li><a href=""><img class="img-responsive"  src="../img/icons/dmca.png" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</footer>