<header id="pages">
	<div class="header-cont container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 home">
				<a href="index.html">
					<span class="flag" id="myssay-fl"></span>
					<p><img src="../img/icons/home-icon.png" alt="">
						MYSSAY</p></a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 nav-cont">
						<nav class="main-nav">
							<li><a href="order.html"><span class="flag" id="ord-fl"></span><p>ORDER</p></a></li>
							<li><a href="price.html"><span class="flag" id="price-fl"></span><p>PRICE</p></a></li>
							<li><a href="sample.html"><span class="flag" id="sample-fl"></span><p>SAMPLES</p></a></li>
							<li><a href="faq.html"><span class="flag" id="faq-fl"></span><p>FAQ</p></a></li>
						</nav>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 reg-cont">
						<ul>
							<li><a href="lo.html"><span class="flag" id="log-fl"></span><p>LOGIN</p></a></li>
							<li> <span class="reg-li"> | </span></li>
							<li><a href="reg.html"><span class="flag" id="reg-fl"></span><p>REGISTER</p></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>